<!-- // templates/auth.html -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Account</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type = "text/css" href= "/static/css/style.css" media = "screen"/>
</head>

<body>
<body class="align">
  <div class="site__container">
  <div class="grid__container">

  <h1>Account</h1>
    <div id = "index body">
      <p><a href="/accountUpdate">Update Account Information</a></p>
      <p><a href="/accountDelete">Delete Account</a></p>
      <p><a href="/accountOrders">View Orders</a></p>
    </div>

    </div>

  </div>

</body>
    
</body>

</html>