<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<!-- Author: Dax Gerts
	Date: 18 November 2015
	Description: Home page design for webstore -->
<!--<img src="/static/media/blueprint_wide.jpg"/>-->
<head>
    <!-- Title pending for webstore name -->
    <title>WebstoreSQL</title>           
	<link rel="stylesheet" type="text/css" href= "/static/css/style.css" media = "screen" />
 	
</head>

<body class="align">
	<div class="site__container">
	<div class="grid__container">
    
    <div id = "header">
		<h1>Webstore Site Index</h1>
	</div>

	<div id = "subheader">
		<h2>For Customers</h2>	
	</div>

	<div id = "index body">
		<p><a href="/login">Login</a></p>
		<p><a href="/register">Register</a></p>
		<p><a href="/browse">Browse</a></p>		
		<p><a href="/order">Order</a></p>
		<p><a href="/account">Account</a></p>
		
	</div>

	<div id = "subheader">
		<h2>For Staff</h2>
	</div>

	<div id = "index body">
		<p><a href="/admin">Admin</a></p>
		<p><a href="/staffUpdate">Staff Update (broken)</a></p>
		<p><a href="/staffUpdateItems">Staff Update Items (broken)</a></p>		
		<p><a href="/staffSaveUpdates">Staff Save Updates (broken)</a></p>
		<p><a href="/staffCreatItemsToAdd">Staff Create New Items(semi-functional)</a></p>
		<p><a href="/staffAddItems">Staff Add Items (broken)</a></p>
		<p><a href="/staffDeleteItems">Staff Delete Items (broken)</a></p>
		
	</div>

   
    
</body>
</html>