<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<!-- Author: Dax Gerts
	Date: 18 November 2015
	Description: Home page design for webstore -->
<img src="/static/media/blueprint_wide.jpg"/>
<head>
    <!-- Title pending for webstore name -->
    <title>WebstoreSQL</title>           
	<link rel="stylesheet" type="text/css" href= "/static/css/style.css" media = "screen" />
 	
</head>

<body id = "page1">
	<div id = "main">
		<div id = "header">
			<p>Testing testing testing, 1 2 3</p>
		</div>
	</div> 

  
</body>
</html>