<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<!-- Author: Dax Gerts
	Date: 18 November 2015
	Description: Home page design for webstore -->
<!--<img src="/static/media/blueprint_wide.jpg"/>-->
<head>
    <!-- Title pending for webstore name -->
    <title>WebstoreSQL</title>           
	<link rel="stylesheet" type="text/css" href= "/static/css/style.css" media = "screen" />
 	
</head>

<body class="align">
	<div class="site__container">
	<div class="grid__container">
    
    <div id = "header">
		<h1>Webstore Site Index</h1>
	</div>
	<div id = "index body">
		<p>Login</p>
		<p>Register</p>
		<p>Browse</p>
		<p>Account</p>
	</div>

   
    
</body>
</html>