<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<!-- Author: Dax Gerts
	Date: 18 November 2015
	Description: Home page design for webstore -->
<!--<img src="/static/media/blueprint_wide.jpg"/>-->
<head>
    <!-- Title pending for webstore name -->
    <title>WebstoreSQL</title>           
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  	 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  	<link rel="stylesheet" type="text/css" href= "/static/css/style.css" media = "screen" />

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

</head>

</head>

<body class="align" >


	<div class="site__container">
	<div class="grid__container">
	


	<h1>Order:
	</h1>

	<h2>
		<form>
			Type your Product Name: <input type="Text" name="productName" value="{{ productName }}"/>
			Select your Number to Order (NOT WORKING): <input type="Number" name="quantity" min="0" value="{{ quantity }}"/>
			<input type="Submit" value="Add to Order" onclick="javascript: form.action='/updateOrder/';">

			<div style="display: ">
				Tracking what's in order so far
				<input type="text" name="productsInOrder" value="{{productsInOrder}}">
				ID list
				<input type="text" name="productsInOrderByID" value="{{productsInOrderByID}}">
				Tracking price so far
				<input type="text" name="price_of_order" value="{{price_of_order}}">
			</div>

			<input type="Submit" value="Finalize Order" onclick="javascript: form.action='/placeOrder/';">
		</form>
	</h2>


	{% if productsInOrder %}
	<h2> Products In Order: </h2>
	{% for p in productsInOrder %}
		<br>{{p}} 
	{% endfor %}
	<h2> Order Price: {{price_of_order}} </h2>

	{% else %}
	<h2> No products in order </h2>
	{% endif %}

	{% if errorMessage %}
	<h2>{{errorMessage}}</h2>
	{% endif %}
	</div>
    
	

   
    
</body>
</html>