
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<!-- Author: Dax Gerts
	Date: 18 November 2015
	Description: Home page design for webstore -->
<!--<img src="/static/media/blueprint_wide.jpg"/>-->
<head>
    <!-- Title pending for webstore name -->
    <title>WebstoreSQL</title>           
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  	 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  	<link rel="stylesheet" type="text/css" href= "/static/css/style.css" media = "screen" />

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

</head>

</head>

<body class="align" >


	<div class="site__container">
	<div class="grid__container">
	


	<h1>Order Placed!
	</h1>
	{% if productIDsInOrder %}
	<h2>Here are the Products you ordered:</h2>
		<table>

			<th>Product Name: </th>
			<th>Product ID: </th>
			<th>Product Price: </th>

			{% for product in productIDsInOrder %}

			<tr>
				<td>{{product.product_name}}</td>
				<td>{{product.product_id}}</td>
				<td>{{product.product_price}}</td>
			<tr>
			
			{% endfor %}
		</table>
	{% endif %}


	{%if yourOrder %}
		<h2> Here is the data on your order </h2>
		<h3> Order ID: {{yourOrder.order_id}}</h3>
		<h3> Amount paid: {{yourOrder.order_paid}}</h3>
		<h3> yourOrder: {{yourOrder.order_date}}</h3>

	{% endif %}
	<!--a list of all orders from this store-->
	{% if orders %}
	<h2></h2>
	<table>
		<tr>
			<td>Order ID</td>
			<td>Order Date</td>
			<td>Order Paid</td>
		</tr>
		{% for o in orders %}
		<tr>
			<td> {{ o.order_id }}</td>
			<td> {{ o.order_date }} </td>
			<td> {{ o.order_paid  }}</td>
		</tr>
		{% endfor %}

	</table>
	{% endif %}



	</div>
    
	

   
    
</body>
</html>