<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<!-- Author: Dax Gerts
	Date: 18 November 2015
	Description: Home page design for webstore -->
<!--<img src="/static/media/blueprint_wide.jpg"/>-->
<head>
    <!-- Title pending for webstore name -->
    <title>WebstoreSQL</title>           
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  	 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  	<link rel="stylesheet" type="text/css" href= "/static/css/style.css" media = "screen" />

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

</head>

</head>

<body class="align" >


	<div class="site__container">
	<div class="grid__container">
	


	<h1>Item ADD:: 
	</h1>
	{% if errorMessage %}
		<h1 style="color: red"> {{errorMessage}} </h1>
	{% endif %}
	<h2>
		Add:
		<form>
			<h3>
			Fill in what you want to update.  If you wish to leave anything unchanged, leave the field blank.</h3>
				<table style="padding: 5px; font-size:50%" id="Products">				
				<tr style="font: bold"> 
					<th> Product ID </th>
					<th> Product Name </th>
					<th> Product Description </th>
					<th> Product Price </th>
					<th> Product Active </th>
					<th> Product Stock Quantity </th>
					<th> Supplier ID </th>
				</tr>
				<tr >
					<td> <input type="Text" name="productToChangeID" value="{{productToChange.product_id}}" /></td>
					<td> <input type="Text" name="productName" value="{{ productToChange.product_name }}" /></td>
					<td> <input type="Text" name="productDescription" value="{{ productToChange.product_description }}" /></td>
					<td> <input type="Text" name="productPrice" value="{{ productToChange.product_price }}" /></td>
					<td> <input type="Text" name="productActive" value="{{ productToChange.product_active }}" /></td>
					<td> <input type="Text" name="productStockQuantity" value="{{ productToChange.product_stock_quantity }}" /></td>
					<td> <input type="Text" name="productSupplies" value="{{ productToChange.supplies.supplier_id }}" /></td>

				</tr>
				</table>

				<table style="padding: 5px; font-size:50%" id="Products">				
				<tr style="font: bold"> 
					<th> User ID </th>
					<th> User Name</th>
					<th> User Password </th>
					<th> User Address</th>
					<th> User is Staff </th>
				</tr>
				<tr >
					<td> <input type="Text" name="userToChangeID" value="{{userToChange.user_id}}" /></td>
					<td> <input type="Text" name="UserName" value="{{ userToChange.user_name }}" /></td>
					<td> <input type="Text" name="UserPassword" value="{{ userToChange.user_password }}" /></td>
					<td> <input type="Text" name="UserAddress" value="{{ userToChange.user_address }}" /></td>
					<td> <input type="Text" name="UserIsStaff" value="{{ userToChange.user_is_staff }}" /></td>
				</tr>
				</table>

				<table style="padding: 5px; font-size:50%" id="Products">				
				<tr style="font: bold"> 
					<th> Order ID </th>
					<th> Order Paid </th>
					<th> Order Date</th>
				</tr>
				<tr >
					<td> <input type="Text" name="orderToChangeID" value="{{orderToChange.order_id}}" /></td>
					<td> <input type="Text" name="OrderPaid" value="{{ orderToChange.order_paid }}" /></td>
					<td> <input type="Text" name="OrderDate" value="{{ orderToChange.order_date }}" /></td>

				</tr>
				</table>
			<input type="Submit" value="Add Items" onclick="javascript: form.action='/staffAddItems/';">


			

		</form>
			
	</h2>
    
	

   
    
</body>
</html>

