<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<!-- Author: Dax Gerts
	Date: 18 November 2015
	Description: Home page design for webstore -->
<!--<img src="/static/media/blueprint_wide.jpg"/>-->
<head>
    <!-- Title pending for webstore name -->
    <title>WebstoreSQL</title>           
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  	 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  	<link rel="stylesheet" type="text/css" href= "/static/css/style.css" media = "screen" />

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

</head>

</head>

<body class="align" >


	<div class="site__container">
	<div class="grid__container">
	


	<h1>Staff Update:
	</h1>

	<h2>
		Update:
		<form>
			<h3>
			Fill in what you want to update.  If you wish to leave anything unchanged, leave the field blank.</h3>
			Type Product ID To Update: <input type="Text" name="productIDtoChange" value="{{ productIDtoChange }}"/>
			Type User ID To Update: <input type="Text" name="userIDtoChange" min="0" value="{{ userIDtoChange }}"/>
			Type Order ID To Update: <input type="Order" name="orderIDtoChange" min="0" value="{{ orderIDtoChange }}"/>
			<input type="Submit" value="Update" onclick="javascript: form.action='/staffUpdateItems/';">

			

		</form>
	</h2>

	<h1>Staff Add:
	</h1>

	<h2>
		Add:
		<form>
			<h3>
			<input type="Submit" value="Click to Add Items" onclick="javascript: form.action='/staffCreateItemsToAdd/';">
		</form>
	</h2>


	<h1>Staff Delete:
	</h1>

	<h2>
		Delete Items:
		<form>
			<h3>
			Fill in what you want to update.  If you wish to leave anything unchanged, leave the field blank.</h3>
			Type Product ID To Delete: <input type="Text" name="productIDtoChange" value="{{ productIDtoChange }}"/>
			Type User ID To Delete: <input type="Text" name="userIDtoChange" min="0" value="{{ userIDtoChange }}"/>
			Type Order ID To Delet: <input type="Order" name="orderIDtoChange" min="0" value="{{ orderIDtoChange }}"/>
			<input type="Submit" value="Click to Delete Items" onclick="javascript: form.action='/staffDeleteItems/';">
		</form>
	</h2>
    
	Here is a list of things you can change:

	Products:
	{% if allProducts %}
	{% for p in allProducts %}
	{{ p.product_id }}
	{% endfor %}
	{% endif %}
	Users:
	{% if allUsers %}
	{{ allUsers }}
	{% endif %}
	Orders:
	{% if allOrders %}
	{{ allOrders }}
	{% endif %}

   
    
</body>
</html>